.hidden {
    display: none;
}

.gantt-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid black;
    padding: 10px;
    margin-top: 10px;
    overflow-x: auto;
}

.gantt-bar {
    display: flex;
}

.process {
    background-color: #4CAF50;
    color: white;
    padding: 5px;
    margin: 2px;
    text-align: center;
    border-radius: 5px;
    min-width: 30px;
}
